APP=sst
ENV=dev

# This file contains sensitive environment variables, that we don't want to
# specify in `docker-compose.yml` and that should not be under revision control 

SECRET_KEY='\x9a\x88\x9a\x8d\xb9\x0c5\xd8\xf4\xb8\xba\x9f\x1e\xf1[\xfd\x9f\x19'

DOMAIN=dashboard.localdomain

# Default database host and password
PGPASSWORD=dbpass

# Proxies

# Nairobi
#http_proxy=http://10.1.1.5:3128
#https_proxy=http://10.1.1.5:3128
#PIP_TRUSTED_HOST=10.1.1.5
#PIP_INDEX_URL=http://10.1.1.5:3141/root/pypi/+simple/
#no_proxy=localhost,127.0.0.1,localaddress,.localdomain.com,.localdomain,redis,mongo,mayan,kpi,kobocat,enketo
#NPM_CONFIG_REGISTRY=http://10.1.1.5:5080
